body {font-family: 'Montserrat', sans-serif;
      }
h1{
    font-family: 'Oswald', sans-serif;;
    font-size: 150%;
    color: white;
    padding: 10px;
    text-align: right;
}

.header{
    width: auto;
    height: auto;
    background-image: url(../Images/houba.jpg);
    background-size: cover;
}

.header__text{
    color: white;
    padding: 10px;
    font-size:small;
    position: relative;
    right: 1500px;
    bottom: 20px;
    display: block;
    border-width: auto;
    border-top: white solid 1px;
    border-bottom: white solid 1px;
    
}

.menu {
    display: inline-block;
}

.menu__item{
    display: inline-block;
    text-decoration: none;
    color: white;
    font-size: larger;
    position: relative;
    bottom: 20px;
    padding: 5px;
}

.menu__item:active{
    background-color: white;
    color: black;
    font-weight: 600;
    border-radius: 10px;
}

@keyframes arrive {
    0% {
        transform: translate(0, 0);
    }
    100% {
        transform: translate(1500px, 0);
    }
}

.header__text {
    animation: arrive 3s;
    animation-fill-mode: forwards;
    animation-delay: 2s;
} 

.about{
    margin: 10px 10px 0 10px;
}

.about__content{
    font-size: 150%;
    font-weight: 800;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.about__content::before {
    content:"";
    display: block;
    width: 50%;
    height: 5px;
    background-color: black;
    border-radius: 10px;
    margin-bottom: 20px;
}

.about__image img{
    max-width: 100%;
    height: auto;
}
.about__image {
    background-color: black;
}

.trailer{
    background-color: black;
    color: white;
    padding: 10px;
    margin: 0 10px 10px 10px;
    text-align: center;
}
.trailer__text{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.trailer__text::before {
    content:"";
    display: block;
    width: 30%;
    height: 3px;
    background-color: white;
    border-radius: 10px;
    margin-bottom: 10px;
}

.trailer__image img{
    max-width: 100%;
    height: auto;
}

.contact__description::before {
    content:"";
    display: block;
    width: 30%;
    height: 3px;
    background-color: white;
    border-radius: 10px;
    margin-bottom: 10px;

}

.contact__description{
    display: flex;
    flex-direction: column;
    align-items: center;

}

.footer{
    margin: -10px 10px 10px 10px;
    border: black solid 1px;
    padding: 10px;
    font-weight: bold;
    font-size: small;
    text-align: center;
}

.contact{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contact__button a{
    text-decoration: none;
    color: black;
    font-weight: bold;
    font-size: 100%;
}
.contact__button {
   margin-top: 20px;
   padding: 10px;
   border: white solid 2px;
   width: 200px;
   border-radius: 5px;
   background-color: white;   
}

.contact__button:active {
    background-color: black;
}
.contact__button a:active{
    color: white;
}

@media screen and (min-width: 800px) {
    body {
        margin: 10px 50px 0px 50px;
    }
    .about {
        margin: 0;
    }
    .trailer {
        margin:0;
    }
    .footer {
        margin:0;
    }

    h1 {
        font-size: 250%;
        padding-right: 50px;
    }

    .menu {
        margin-top: 20px;   
        margin-left: 40px;
    }

    .menu__item{
        margin-top: 10px;
    }

    .menu__item:hover{
        background-color: white;
        color: black; 
        font-weight: bold; 
        border-radius: 10px;
        transform:scale(1.1)
                  translateX(20px)
    }
    .menu__item:active{
        background-color: grey;
        color:rgb(36, 2, 67);
    }

    .header__text {
        font-size: larger;
        position: relative;
        bottom: 20px;
    }

    .header {
        height: 400px;
    }

    .about {
       display:flex;
       justify-content: space-between;
       align-items: center;
       border: black solid 2px;
       
    }
    .about__content {
        max-width: 500px;
        padding-left: 100px;
    }
    .about__image {
        max-width: 25%;
    }
    .contact__button:hover{
        background-color: grey;
        font-weight: bold; 
        border-radius: 10px;
        transform:scale(1.3);          
    }
    .contact__button:active{
        background-color: rgb(36, 2, 67);
        color: white;
    }
}

@media screen and (min-width: 1200px) {
    .header {
        height: 600px;
    }
    .header__text {
        position: relative;
        top: 70px;
    }
    .menu {
        margin-top: 50px;
        margin-left: 80px;
    }
    .menu__item {
        margin: 10px;
        font-size: 150%;
    }
    .trailer{
        margin: 0;
        display: flex;
    }
    .footer {
        margin: 0;
    }
    .about__content{
        max-width: auto;
        font-size: 180%;
        padding-left: 200px;
    }
    .about{
        margin: 0;
        justify-content: space-between;
        align-items: center;
    }
    .trailer__text,
    .contact__description {
        font-size: 120%;
    }
    .trailer__section{
        display:flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        margin: 0 30px 0 10px;
    }
    .trailer__image{
        max-width: 90%;
    }
    .contact{
        margin: 0 10px 10px 10px;
    }
    .contact__button:hover{
        background-color: grey;
        font-weight: bold; 
        border-radius: 10px;
        transform:scale(1.3);          
    }
    .contact__button:active{
        background-color: rgb(36, 2, 67);
        color: white;
    }
}











